<label> Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName" >
<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> Add server </button>
<p [innerText]="allowNewServer"></p>
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<hr>
<p *ngIf="serverCreated; else noServer">Server {{serverName}} has been created</p>
<app-server *ngFor="let server of servers"></app-server>
<ng-template #noServer>
    <p> No server was created </p>
</ng-template>


<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username" >
<p>{{username}}</p>
<button  class="btn btn-success" [disabled]="!isAllowedToProvideUsername(username)" (click)="onReset()" >Provide</button>
<p [innerText]="isAllowedToProvideUsername(username)"></p>
<p>{{usernameStatus}}</p>
<p></p>
<hr>
<!-- <button class="my-button"></button> -->




