<label> Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName" >
<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> Add server </button>
<p [innerText]="allowNewServer"></p>
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<hr><hr>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username" >
<p>{{username}}</p>
<button  class="btn btn-success" [disabled]="!isAllowedToProvideUsername(username)" (click)="onReset()" >Provide</button>
<p [innerText]="isAllowedToProvideUsername(username)"></p>
<p>{{usernameStatus}}</p>
<p></p>


